* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(40, 141, 38);
}

img {
  width: 8%;
  transition: transform 0.5s;
}

/* .start {
  transform: translate(1000px, 0);
  transition: 16s;
} */

.east {
  transform: rotate(0turn);
}

.south {
  transform: rotate(0.25turn);
}

.west {
  transform: rotate(0.5turn);
}

.north {
  transform: rotate(-0.25turn);
}
